.baseAssignment {
  position: relative;
  background-color: aliceblue;
  width: 100vw;
  height: 100vh;
}

.fullPage {
  position: relative;
  overflow: scroll;
}

.theAssetImageBox {
  margin-right: 10px;
  width: 300px;
  height: 140px;
  background-color: rgb(127, 157, 255);
}

.previewImage {
  position: absolute;
  width: 100vw;
  aspect-ratio: 20 / 9;
}

.imageBox {
  overflow-y: hidden;
  overflow-y: hidden;
  object-fit: cover;
  width: 100;
  height: 75;
}

.circleImage {
  border-radius: 8vh;
  margin-right: 14px;
  width: 16vh;
  height: 16vh;
  background-color: rgb(127, 157, 255);
}

.dummyView {
  width: 100%;
  background-color: blueviolet;
  height: 1000px;
  margin-top: 20px;
}

.assetsHorrizontalList {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  height: 200px;
  position: relative;
  flex-direction: row;
  justify-content: baseline;
}

.assetsHorrizontalListone {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  height: 200px;
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.bannerView {
  width: 100%;
  height: 55vh;
  background-color: rgb(3, 11, 11);
}

.overlayControls {
  margin-left: 2%;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.innverContainerView {
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
}

.assetsHorrizontalListone::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.playButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  width: var(--play-button-width);
  height: 30px;
  left: 2%;
  margin-top: 10px;
  background-color: rgb(38, 74, 20);
}

.otherButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  height: 30px;
  left: 2%;
  margin-top: 10px;
  background-color: rgb(116, 120, 114);
}

.textTitle {
  font-size: var(--font1-sizeVW);
  margin-left: 2%;
  white-space: nowrap;
  z-index: 10;
}

.bannerTitle {
  font-size: var(--font3-sizeVW);
  margin-left: 2%;
  white-space: nowrap;
  z-index: 10;
}

.pageDescription {
  font-size: 3vh;
  margin: 2%;
}

.textSubtitle {
  font-size: var(--font2-sizeVW);
  margin-left: 2%;
  white-space: nowrap;
}

.bottomView {
  width: 100%;
  height: 55%;
  background-color: rgb(255, 136, 0);
  position: absolute;
  bottom: 0px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
}

/* max-width: (reversRatio * 100vh) */
@media all and (max-width: 200vh) {
  #container {
    background-color: green;
  }

  /* .textTitle {
    font-size: var(--font1-sizeVH);
    margin-left: 2%;
  }

  .textSubtitle {
    font-size: var(--font2-sizeVH);
    margin-left: 2%;
  } */
}

@media (max-width: 400px) {
  .bannerView {
    width: 400px;
    height: 280px;
    background-color: aqua;
    position: relative;
  }

  .baseAssignment {
    position: relative;
    background-color: aliceblue;
    width: 400px;
    height: 667px;
  }

  .previewImage {
    position: absolute;
    width: 400px;
    height: 300px;
  }
}

/* max-width: (reversRatio * 100vh) */
@media (max-height: 667px) {
  .baseAssignment {
    position: relative;
    background-color: aliceblue;
    width: 100vw;
    height: 400px;
  }

  .bannerView {
    width: 100%;
    height: 330px;
    background-color: aqua;
    position: relative;
  }

  .bottomView {
    width: 100%;
    height: 367px;
    background-color: rgb(255, 136, 0);
    position: absolute;
    bottom: 0px;
  }
}
@media all and (max-height: 200vh) {
  #container {
    background-color: green;
  }

  .textTitle {
    font-size: 30px;
    margin-left: 2%;
    white-space: nowrap;
  }

  .textSubtitle {
    font-size: 20px;
    margin-left: 2%;
    white-space: nowrap;
  }
}
