.baseAssignment {
  position: relative;
  background-color: aliceblue;
  width: 100vw;
  height: 100vh;
}

.bannerView {
  width: 100%;
  height: 55%;
  background-color: aqua;
  position: relative;
}

.playButton {
  position: relative;
  z-index: 1;
  width: var(--play-button-width);
  height: 30px;
  left: 2%;
  margin-top: 10px;
  background-color: blue;
}

.textTitle {
  font-size: var(--font1-sizeVW);
  margin-left: 2%;
  white-space: nowrap;
}

.textSubtitle {
  font-size: var(--font2-sizeVW);
  margin-left: 2%;
  white-space: nowrap;
}

.bottomView {
  width: 100%;
  height: 55%;
  background-color: rgb(255, 136, 0);
  position: absolute;
  bottom: 0px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
}

/* max-width: (reversRatio * 100vh) */
@media all and (max-width: 200vh) {
  #container {
    background-color: green;
  }

  /* .textTitle {
    font-size: var(--font1-sizeVH);
    margin-left: 2%;
  }

  .textSubtitle {
    font-size: var(--font2-sizeVH);
    margin-left: 2%;
  } */
}

@media (max-width: 400px) {
  .baseAssignment {
    position: relative;
    background-color: aliceblue;
    width: 400px;
    height: 667px;
  }
}

/* max-width: (reversRatio * 100vh) */
@media (max-height: 667px) {
  .baseAssignment {
    position: relative;
    background-color: aliceblue;
    width: 100vw;
    height: 667px;
  }

  .bannerView {
    width: 100%;
    height: 330px;
    background-color: aqua;
    position: relative;
  }

  .bottomView {
    width: 100%;
    height: 367px;
    background-color: rgb(255, 136, 0);
    position: absolute;
    bottom: 0px;
  }
}
@media all and (max-height: 200vh) {
  #container {
    background-color: green;
  }

  .textTitle {
    font-size: 30px;
    margin-left: 2%;
    white-space: nowrap;
  }

  .textSubtitle {
    font-size: 20px;
    margin-left: 2%;
    white-space: nowrap;
  }
}
