.base {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  background-color: white;
  background: white;
  width: 100vw;
  height: 100vh;
}

.box {
  background-color: rgb(39, 79, 188);
  width: 100px;
  height: 100px;
  margin: 10px;
}
